
<h2><%=@post.title%></h2>
<h2><%=@post.content%></h2>
<br>
<%if @post.categories%>
  <%@post.categories.each do |category|%>
    <%=category.name%>
  <%end%>
<%end%>
<br>
<%if @post.comments%>
<% unique_users = []%>
  <%@post.comments.each do |comment|%>
    <%=comment.user.username%> says: <%=comment.content%>
    <%unique_users << comment.user%>
  <%end%>
  <% unique_users.uniq.each do |user|%>
    <%=link_to user.username, user_path(user)%>
  <%end%>

<%end%>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>

  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>
  
  <p>
    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>
